/* Remove default margins and padding */
html, body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

/* disable browser auto-fill highlighting */
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #333;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0,0 0 0 50px white inset;
    -webkit-text-fill-color: #333;
}


#visual-explorer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    margin-right: 200px;
    position: relative;
}

.year-slider {
    position: relative;
    flex-basis: 400px;
    text-align: center;
}

.delta-toggle {
    width: 200px;
    float: left;
}

.age-band-selector {

}

.age-band-display {

}

.year-selector {

}

.year-display {

}


.leaflet-container {
    min-height: 1080px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    border-radius: 2px;
}

.pyramid-widget {
    position: absolute;
    right: 20px;
}

.timeline-widget {
    position: absolute;
    right: 20px;
    top: 330px;
}

.detail-widget {
    position: absolute;
    right: 20px;
    top: 620px;
}

.visual-controls {
}

#control-toggle {
    position: absolute;
    right: 20px;
    top: 740px;
}

#table-explorer {

}

/* Side Menu */

#side-menu {
    float: right;
}


/* D3 styling */
.axis line,
.axis path {
  shape-rendering: crispEdges;
  fill: transparent;
  stroke: #555;
}
.axis text {
  font-size: 11px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}