/* Remove default margins and padding */
html, body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  background-color: #ddd;
}

/* disable browser auto-fill highlighting */
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #333;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0,0 0 0 50px white inset;
    -webkit-text-fill-color: #333;
}

.year-slider {
    position: relative;
    flex-basis: 400px;
    text-align: center;
}

.delta-toggle {
    width: 200px;
    float: left;
}

.age-band-selector {

}

.age-band-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.year-selector {
    
}

.year-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.lsoa-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.lsoa-selector {
    
}

.leaflet-container {
    height: 100%;
    width: 100%;
    /*box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    border-radius: 2px;*/
}

.pyramid-widget {
    margin-bottom: 10px;
}

.timeline-widget {
    margin-bottom: 10px;
}

.detail-widget {
    margin-bottom: 10px;
}

.visual-controls {
}

#control-toggle {
    margin-bottom: 10px;
}

#table-explorer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    margin-right: 260px;
    position: relative;
}

#table-widget {
    padding: 5px;
    min-width: 500px;
    max-width: 500px;
}

#table-controls {
    min-width: 260px;
    max-width: 260px;
    margin-right: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

#scenario-planner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    margin-right: 260px;
    position: relative;
}

.planner-list {
    min-width: 320px;
    max-width: 320px;
    margin-right: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

#build-editor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    margin-right: 200px;
    position: relative;
}

#build-controls {
    position: absolute;
    right: 20px;
    width: 390px;
    top: 10px;
}

.table-widget {
    padding: 5px;
}

.percentage {
    width: 60px;
}

#save-build {
    position: absolute;
    right: 20px;
    top: 760px;
}

.demand-pack {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    margin-right: 200px;
    position: relative;
}

/*#widgets {
    position: absolute;
    right: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-end;
    width: 330px;
}*/

.vpp-slider {
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    width: 320px;
    margin-bottom: 10px;
}

#vpp-info {
    width: 210px;
    padding-left: 10px;
    padding-top: 20px;
    text-align: left;

}

#vpp-control {

}

.year-slider-standalone {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
}

/* Side Menu */

#side-menu {
    float: right;
}


/* D3 styling */
.axis line,
.axis path {
  shape-rendering: crispEdges;
  fill: transparent;
  stroke: #555;
}
.axis text {
  font-size: 11px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}


/* Table Styles */
th {
  border-bottom:4px solid #9ea7af;
  padding:5px;
  text-align:left;
  vertical-align:middle;
  font-size: 90%;
}

th:last-child {

  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
}

tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
td {
  background:#FFFFFF;
  padding:5px;
  font-size: 80%;
  text-align:left;
  vertical-align:middle;
}

.table-widget td {
    padding: 0px;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

.reactable-page-button {
    color: #666B85;
    padding-right: 5px;
}

.reactable-current-page {
    color: #03A9F4;
    padding-right: 5px;
}

.reactable-next-page {
    color: #666B85;
}

.reactable-previous-page {
    color: #666B85;
    padding-right: 5px;
}